*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image:  url('images/Solid-Black-Website-Background.jpg');
    background-size:cover;
   height:  100vh;
}
.mainTwo{
    background-image:  url('images/Solid-Black-Website-Background.jpg');
    background-position: center;
    background-size: cover;
    height: 150vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin-left: 20px;
}
.icon{
    width: 500px;
    float: left;
    height: 70px;
}
.logo{
    color: rgb(92, 150, 211);
    font-size: 45px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 17px;
}
.menu{
    width: 100px;
    height: 70px;
    float: right;
}
ul{
    float: left;
    display: flex;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 10px;
    margin-top: 45px;
    font-size: 24px;
}
ul li a{
    color: white;
    text-decoration: none;
    font-family: Arial;
    background-color:rgb(92, 150, 211);
    border-radius: 30%;
    padding: 25px;
}
ul li a:hover{
    color:rgb(92, 150, 211);
    background-color: white;
}
.content{
    width: 600px;
    height: auto;
    margin-left: 40px;
    margin-top: 140px;
    color: white;
}
.content .par{
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    margin-bottom: 25px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-bottom: 25px;
}
.homeImage{
    position: absolute;
    top: 200px;
    left: 770px;
}
.mmoImage{
    border-radius: 20%;
}
.parTwo{
    font-family: Arial;
    line-height: 30px;
    letter-spacing: 1.2px;
}

figcaption{
    color: white;
    font-size: 24px;
    font-style: italic;
}

/* about page */
.aboutMe{
    color: white;
    font-size: 75px;
    margin-top: 25px;
}
.profilePicture{
    margin-top: 50px;
    border-radius: 20%;
}
.aboutContent{
    text-align: center;
}
.aboutPar{
    color: white;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1.2px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}
.moon {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(222, 217, 217);
    border-radius: 50%;
    animation: moonMove 1s infinite linear;
    animation-duration:4s;
  }
  @keyframes moonMove {
    0% {
      left: 0;
      top: 100px;
    }
    100% {
      left: 1800px;
      top: 100px;
    }
  }

/* contact page */
table{
    background-color: beige;
    font-size: 24px;
    border-color: rgb(90, 90, 94);
}

#head{
    background-color:rgb(92, 150, 211);
    font-size: 25px;
}
#donation{
    margin-top: 35px;
}
.contactBody{
    margin-top: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
}

/* review page */
#reviewHead{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 200px;
    margin-right: 100px;
}
.reviewHeader{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0px;
    margin-top: 100px;
}
#reviewTable{
    border-color: rgb(46, 106, 169);
    background-color: white;
    margin-left: 25px;
    margin-top: 0px;
}
#reviewTable th{
    background-color: rgb(118, 227, 118);
}
#reviewTable td{
    padding: 2px;
}
.colorChange{
    background-color: rgb(210, 207, 207);
}

/* gallery page */
.artDiv{
    padding-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 150px;
}
.art{
    width: 500px;
    height: 300px;
}
.galleryHead{
    color: white;
    text-align: center;
    font-size: 100px;
    margin-top: 100px;
}

